gumga-tag-column .panel-body.body-column
  display inline-block

gumga-unity-tag .btn.close-popover
  margin-right 5%

gumga-unity-tag .bottom.fade.popover.in
  min-width 150%

gumga-unity-tag .label.unity-tag
  margin-top 2%
  margin-bottom 2%
  display inline-block
