.well-login
  @extend .well
  @extend .col-md-2
  @extend .col-md-offset-5
  background-color rgba(245, 245, 245, 0.75)
  margin-bottom 0
  border-radius 0

.btn-after-well
  @extend .col-md-2
  @extend .col-md-offset-2
  
.logo
  display block
  margin 0 auto
  width 100px
  height 100px

.login-container
  @extend .container
  width 100%
  height 100%
  background #096869

.input-login
  width 100%
  height 45px
  border 1px solid #dbd9d9
  border-radius 3px
  padding 0 13px
  margin 0 0 20px
  color #434343
  font-weight 500
  outline 0
  box-shadow none
  box-sizing border-box

.btn-gumga
  color #fff
  background-color #208959
  line-height 1em
  text-align center
  border-radius 4px
  border none
  box-shadow none
  text-shadow none
  width 100%
  text-transform uppercase
  font 400 16px/1em 'Open Sans', sans-serif
  -webkit-transition all .2s linear
  transition all .2s linear
  padding 23px 0
  font-size 16px
  font-weight 500

.footer-login
  width 100%
  height 100px
  bottom 0
  position absolute
  background-color #41505E

.text-login
  padding 10px 0 15px
  text-align center
  font 400 22px/1em 'Open Sans', sans-serif
  color #252b33

.heading-gumga
  text-align center
  background-color #41505e !important  

.login-background
  > img
    position absolute
    width 100%
    height 100%
  

