## Directories

# Bower components
bower_components

# Documentation
docs

# Coverage
coverage

# Code complexity report
report

# Node Modules
node_modules

# Languages
i18n

## Files

index.html
.DS_Store
