gumga-list table
  display flex
  flex-flow column
  height 100%
  width 100%

gumga-list table thead
  flex 0 0 auto
  width 100%

gumga-list table tbody
  flex 1 1 auto
  display block
  overflow-y auto

gumga-list table tbody tr
  width 100%

gumga-list table thead,
gumga-list table tbody tr
  display table
  table-layout fixed

gumga-list .items-per-page
  width 4%

gumga-list .tbody td
  white-space pre-wrap

gumga-list .truncate
  display block
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

