gumga-file-upload
  position relative
  display table
  width 100%

gumga-file-upload .drag
  display none
  padding 25px
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  z-index -40
  text-align center
  border 6px dashed #eaeaea

gumga-file-upload .drag .glyphicon
  color #19a14d
  font-size 36px

gumga-file-upload .dragOver
  display block
  background #f5f5f5
  z-index 40000
  opacity 0.7
  