gumga-many-to-many .input-group-addon button
  border 0
  background-color #EEE

gumga-many-to-many .list-group
  max-height 200px
  overflow auto

gumga-many-to-many .list-group .list-group-item
  padding 7px 15px
  border-bottom none

gumga-many-to-many .list-group .list-group-item .badge
  background-color #81AEDA
  cursor pointer
  border 0
  
gumga-many-to-many .list-group-item.invalid
  background-color #f2dede
  border-color #ebcdd2
  color #a94442
  transition 0.5s
  -webkit-transition 0.5s

gumga-many-to-many .list-group-item i
  position absolute
  top 10px
  right 8px