gumga-image-upload .svg-camera
  fill #ccc
  width 100%
  cursor pointer

gumga-image-upload .area
  margin-bottom 20px

gumga-image-upload .area-camera
  padding 25%
  background-color #EAEAEA
  border 3px solid #ccc

gumga-image-upload .area-crop
  background #E4E4E4
  border 3px solid #ccc
  overflow hidden
  width 100%
  height 180px

gumga-image-upload .area-preview
  margin-bottom 20px
  background #E4E4E4
  border 3px solid #ccc

gumga-image-upload .list
  overflow-x scroll
  overflow-y hidden
  white-space nowrap
  
gumga-image-upload .photo
  margin-right 13px
  display inline-block
  vertical-align middle

gumga-image-upload .photo .remove
  margin-top 2px
  cursor pointer
