/* Altera as fontes do sistema */
fonts = 'Open Sans', sans-serif;
/* Altera as propriedades do menu*/
menuBackgroundColor = #343633;
menuWidth = 15%
menuFontColor = #E4F0FB;
submenuColor = #616971;
/* Altera as propriedades da navbar*/
navbarHeight = 50px
navbarBackgroundColor = #4CA089
navbarLogoColor = #EBF1E9
/* Altera as propriedades da table*/
tableBorder = #bdc3c7
/* Altera as propriedades das cores de erro/sucesso */

gumgaColorPrimary = #4CA089
gumgaColorSecundary = #33856F


borderRadius()
  -webkit-border-radius: arguments;
  -moz-border-radius: arguments;
  border-radius: arguments;

boxShadow()
  -webkit-box-shadow: arguments
  box-shadow: arguments

animation(name, duration, count, timing)
  animation-name name
  animation-duration duration
  animation-iteration-count count
  animation-timing-function timing

  -moz-animation-name name;
  -moz-animation-duration duration
  -moz-animation-iteration-count count
  -moz-animation-timing-function timing

  -webkit-animation-name name;
  -webkit-animation-duration duration
  -webkit-animation-iteration-count count
  -webkit-animation-timing-function timing

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments
@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@-moz-keyframes shake {
  0% {
    -moz-transform: translate(3px, 0);
  }
  50% {
    -moz-transform: translate(-3px, 0);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(3px, 0);
  }
  50% {
    -webkit-transform: translate(-3px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

@import "../bower_components/bootstrap-stylus/bootstrap/index"

body
  font-family fonts
  height 100%
  background-color #FCFCFC


.query
  @extend .col-md-5
  @extend .col-md-offset-7
  margin-top 0
  margin-bottom 0

.gumga-container
  padding-left 0.5em
  margin-left menuWidth
  padding-right 0.5em
  padding-top: navbarHeight + 10px
  width 100% - 15%
  background-color #fff
  height 100%

.input-group-sm > .form-control,
.input-group-sm > .input-group-btn {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.input-group.input-group-sm {
  height: 18px;
}
.input-group-sm > .form-control {
  height: 21px; padding: 0; margin: 0;
}
.input-group-sm > .input-group-btn > .btn {
  border-left: 0px;
  height: 23px;
  margin-left: -4px;
  padding: 0px 4px;
}

div
  100%
  > .gumga-container
    height 100%

.error
  border 1px solid #a94442;
  &:focus
    -webkit-box-shadow: 0px 0px 10px 0px rgba(166, 0, 0, 0.80);
    -moz-box-shadow:    0px 0px 10px 0px rgba(166, 0, 0, 0.80);
    box-shadow:         0px 0px 10px 0px rgba(166, 0, 0, 0.80);
    border 1px solid #a94442;


.success
  border 1px solid #048000
  &:focus
    -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 128, 0, 0.80);
    -moz-box-shadow:    0px 0px 10px 0px rgba(4, 128, 0, 0.80);
    box-shadow:         0px 0px 10px 0px rgba(4, 128, 0, 0.80);
    border 1px solid #048000;

.clickable-td
  text-decoration underline
  color #038dc5
  &:hover
    cursor pointer
    background-color rgba(157, 222, 250, 0.1)

.responsive-img
  display block
  width 100%
  height 100%

.my-button
  @extend .btn
  line-height 1.45
  border-radius 0
  margin-left -3

.my-button.last
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;


div.gumga-adv-label
  @extend .label
  display inline-block
  font-weight 400
  font-size 0.9em
  cursor pointer
  &:hover
    background-color

.form-control
  &:focus
    border-color #ccc
    box-shadow 0

.bord.pull-left
  border-right 2px solid #ccc
  margin-right: 1%

input#textEnter
  border 0
  outline 0

.list-holder
  position relative
  display inline
  > .list-selectable
    @extend .dropdown-menu
    display inline-block
    position absolute
    top 48px
    margin-top 0%
    box-shadow 0

div.panel.panel-down
  > hr
    margin-top 0
    margin-bottom 0

.hover-list
  color #008EE0
  > a
    color inherit
  &:hover
    background-color rgba(204, 204, 204, 0.3)


.full-width-without-margin
  @extend .col-md-12
  margin-right 0
  margin-left 0

.full-width-without-padding
  @extend .col-md-12
  padding-right 0
  padding-left 0

full-width-without-padding-small

.responsive-button-primary
  @extend .btn
  @extend .btn-primary

.responsive-button-danger
  @extend .btn
  @extend .btn-danger

.panel-down
  @extend .panel
  @extend .panel-default
  position: absolute
  right 0px
  width 700px
  z-index 9999

.panel-down
  .btn-group
    margin-bottom 10px

.panel-advanced
  @extend .panel
  @extend .panel-default
  position absolute
  width 100%
  z-index 9999
  -webkit-box-shadow 0px 3px 10px 0px rgba(50, 50, 50, 0.32)
  -moz-box-shadow    0px 3px 10px 0px rgba(50, 50, 50, 0.32)
  box-shadow         0px 3px 10px 0px rgba(50, 50, 50, 0.32)

@media screen and (max-width: 600px)
  .gumga-container
    width 100%
    margin-left 0
  .search-style
    z-index 10

@media screen and (max-width 740px)
  .gumga-container
    width 100%
    padding-left 0
    padding-right 0
    margin-left 0

  .responsive-button-primary
    display block

  .responsive-button-danger
    margin-top 1.5%
    margin-bottom 1.5%
    display block

.advanced-search-holder
  @extend .col-md-7
  @extend .pull-right
  padding-right 0
  padding-left 0

.little-panel
  @extend .panel-advanced
  width 30%
  left 70%

.nav-panel
  @extend .little-panel
  top 5%
  left 90%
  width 10%



.inside-list-anchor
  display block
  width 100%
  cursor pointer
  text-align: center


.btn-insider
  borderRadius(4px)
  boxShadow(0px 1px 3px #666666)
  color #fff
  font-size 20px
  background: #4A6B8A
  //padding 4px 8px 4px 8px
  text-decoration none
  border 0
  &:hover
    background #588ab8
    text-decoration none


.list-group-mto
  @extend .list-group
  position absolute
  width 100%
  z-index 999

.hover:hover
  background-color #ddd
  cursor pointer

.hover-icon-blue:hover
  color #3782c4
  cursor pointer

.list-group-item-mto
  @extend .list-group-item
  cursor pointer
  z-index 9999
  &:hover
    background-color rgba(207, 222, 245,1)

.badge-helper
  background-color #81AEDA
  cursor pointer
  border 0


.input-group-addon-mto
  @extend .input-group-addon
  background-color transparent
  padding-top 0.5%
  border-left 0

.address
  @extend .col-md-8
  @extend .col-xs-12
  @extend .col-sm-12
  padding-right 0
  padding-left 0

.dropdown-menu
  width 100%

.switch
  height 20px !important

.switch small
  height 20px !important
  width 20px !important

.switch.checked small
  left 31px !important

.switch .on
  top 15% !important

.switch .off
  top 15% !important

.flex
  display flex

#roleEspecification.ng-hide-add.ng-hide-add-active,
#roleEspecification.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}


  #roleEspecification.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

#menu
  position fixed
  top 0
  bottom 0
  border-right 0.5px solid black
  padding-top 1em
  width menuWidth
  padding-left 0
  padding-right 0
  height 100%
  z-index 99999
  overflow auto
  background-color menuBackgroundColor
  -webkit-box-shadow: 3px 0px 10px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    3px 0px 10px 0px rgba(50, 50, 50, 0.32);
  box-shadow:         3px 0px 10px 0px rgba(50, 50, 50, 0.32);

#btn-menu
  display none
  z-index 10000
  position fixed
  margin-top 8px
  color #000000
  z-index 99999

.menu-option
  display block
  width 100%
  min-height 50px
  line-height 35px
  z-index 99999
  float left
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  font-size 14px
  padding 10px 5px 5px 10px
  border-bottom none
  padding-bottom 0
  border-top none
  > i
    padding-left 1em
    cursor pointer
  > a
    padding-left 0.3em
    color menuFontColor
    text-decoration none

  &:first-child
    margin-top 5em
    border-top 1px solid #091826
  &:hover
    background-color rgba(228, 240, 251, 0.1)



.submenu-option
  background-color submenuColor
  padding-left 1em
  border-bottom 1px double rgba(204,204,204,0.11)
  margin-left -4%
  margin-right -4%
  z-index 99999
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  > i
    padding-left 1.25em
    cursor pointer
  > a
    padding-left 0.3em
    font-size 0.9em
    text-decoration none
    color black


.submenu-group
  display none

.submenu-group-ativo
  display block

.menu-color
  width 20%
  color submenuColor

.submenu-color
  @extend .menu-color
  color black

.img-centered
  display block
  margin 0 auto


.open-menu
  transition(opacity, 0.3s, linear)
  opacity 1 !important
  z-index 1000 !important

@media screen and (max-width: 1000px)
  .submenu-option
    > i
      padding-left 0.5em

  .menu-option
    > i
      padding-left 0.5em

  // li > a
  //   font-size 10px

@media screen and (max-width: 600px)
  #menu
    transition(opacity, 0.3s, linear)
    opacity 0
    z-index -1
    width 30%
    opacity 0;

  .img-centered
    display none

  #menu
    > ul
      margin-top 15px

  #btn-menu
    display block

  #continuarInserindo
    display none

  .submenu-option
    > i
      padding-left 0.5em

.menu-option
    > i
      padding-left 0.5em


#navbar
  height navbarHeight
  z-index 99999
  width 85%
  margin-left menuWidth
  position fixed
  padding-left 1em
  line-height navbarHeight
  z-index 100
  border-bottom 1px solid #ccc;
  //padding-top 10px
  background-color navbarBackgroundColor
  -webkit-box-shadow 0px 3px 10px 0px rgba(50, 50, 50, 0.32)
  -moz-box-shadow    0px 3px 10px 0px rgba(50, 50, 50, 0.32)
  box-shadow         0px 3px 10px 0px rgba(50, 50, 50, 0.32)

#navbar ::-webkit-input-placeholder
  color #fff

#navbar :-moz-placeholder
  color #fff

#navbar ::-moz-placeholder
  color: #fff

#navbar :-ms-input-placeholder
  color #fff

#navbar .navbar-logo
  text-decoration none
  color navbarLogoColor
  font-weight 800
  font-size 1.3em
  margin-left 20px

.navbar-links
  text-decoration none
  margin-left 2em
  font-size 0.9em

.navbar-input
  float right
  width 20em
  height 30px
  margin-right 1em
  margin-top 8px
  padding-left 1em
  borderRadius(4px)
  font-size 0.9em
  line-height 30px
  border double 1px #ccc

.status-navbar
  float right
  margin-right 1em
  text-decoration none

  color #EBF1E9

@media screen and (max-width: 1000px)
  .navbar-input
  #navbar .btn-default
    display none

  @media screen and (max-width: 600px)
    .navbar-links
      display none

    #navbar
      width 100%
      margin-left 0%

    .navbar-logo
      margin-left 30px

@media screen and (max-width: 1440px)
  .nav-panel
    top 6%
    left 86.5%
    width 13%

.well-login
  @extend .well
  @extend .col-md-2
  @extend .col-md-offset-5
  background-color rgba(245, 245, 245, 0.75)
  margin-bottom 0
  border-radius 0

.btn-after-well
  @extend .col-md-2
  @extend .col-md-offset-2

.logo
  display block
  margin 0 auto
  width 100px
  height 100px

.login-container
	@extend .container
	width 100%
	height 100%
	background #096869

.input-login
  width 100%
  height 45px
  border 1px solid #dbd9d9
  border-radius 3px
  padding 0 13px
  margin 0 0 20px
  color #434343
  font-weight 500
  outline 0
  box-shadow none
  box-sizing border-box

.btn-gumga
  color #fff
  background-color #208959
  line-height 1em
  text-align center
  border-radius 4px
  border none
  box-shadow none
  text-shadow none
  width 100%
  text-transform uppercase
  font 400 16px/1em 'Open Sans', sans-serif
  -webkit-transition all .2s linear
  transition all .2s linear
  padding 23px 0
  font-size 16px
  font-weight 500

.footer-login
  width 100%
  height 100px
  bottom 0
  position absolute
  background-color #41505E

.text-login
  padding 10px 0 15px
  text-align center
  font 400 22px/1em 'Open Sans', sans-serif
  color #252b33

.heading-gumga
  text-align center
  background-color #41505e !important

.login-background
  height 100%

.login-background > img
  position absolute
  width 100%
  height 100%


html,body
  font-family 'Open Sans','Helvetica Neue',sans-serif
  width 100%
  font-size 0.9em
  height 100%

.list-errors
  margin 0
  padding 0
  list-style none
.list-errors li
  padding-bottom 5px
  &:last-child
    padding-bottom 0px


.navbar-gumga
  background-color gumgaColorPrimary
  margin-bottom 5px
  border-radius 0

.navbar-gumga li,
.navbar-gumga a
  color #FFF

.navbar-gumga .navbar-form input
  background-color gumgaColorSecundary
  border-color transparent
  color white
  box-shadow none
  &::-webkit-input-placeholder
    color gumgaColorPrimary
  &:-moz-placeholder
    color gumgaColorPrimary
  &::-moz-placeholder
    color gumgaColorPrimary
  &:-ms-input-placeholder
    color gumgaColorPrimary

.navbar-gumga .navbar-form button
  background-color gumgaColorSecundary
  border-color transparent
  color white

.navbar-gumga .navbar-nav > li > a.icon
  font-size 1.8em
  padding-top 13px
  padding-bottom 12px

.navbar-gumga .navbar-nav > li > a.profile
  padding-top 5px
  padding-bottom 5px

.nav > li > a:focus,
.nav > li > a:hover
  background gumgaColorSecundary

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover
  background-color gumgaColorSecundary

.navbar-gumga .badge
  top 3px
  position absolute
  right 3px
  font-size 0.4em
  padding 4px 5px
  border-radius 5px
  background-color: red

.navbar-gumga .dropdown-menu
  width auto

.navbar-gumga .notification > ul
  overflow-y auto
  max-height 160px

.navbar-gumga .notification li.read p
  font-size 0.8em
  color #999999
  padding 6px

.navbar-gumga .notification li .glyphicon
  font-size 1.2em

.navbar-gumga .notification li .glyphicon.red
  color red

.navbar-gumga .notification li .glyphicon.red
  color green

.input-inside-tag-column
  border-radius 0
  border 0
  border-bottom 1px solid #ddd
  box-shadow inset 0 0px 0px rgba(0,0,0,.075)

.panel-from-tag-column
  border-radius 0
  height 300px
  max-height 300px

.panel-from-tag-column-scroll
  @extend .panel-from-tag-column
  overflow auto

.btn-inside-tag-column
  margin-right -1px
  border-radius 0
  border 0
  border-bottom 1px solid #ddd
  margin-top 1px

.body-column
  padding 10px

.unity-tag
  margin-right 1%
  font-size 0.9em

.shake {
	animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

.line-break
  margin-top 10px

.heading-sm
  height 30px
  padding 7px 15px

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}
.th-sort
  &:hover
    cursor pointer

.table>tbody>tr.active.active-list>td
  background-color #E0E0E0

@media screen and (min-width: 767px) {
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
      white-space: normal !important;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap !important;
  }
}

.form-buttons-margin
  margin-left 5px
  margin-right 5px

.rotate-search-glyph
  -webkit-transform rotateY(180deg) /* Safari */
  transform rotateY(180deg)

.no-padding-search-fields
  padding-top 0!important
  padding-bottom 0!important

.dropdown-menu-search
  width auto!important

.pagination > li > a
  position initial !important

.pagination > li
  position initial !important

.pagination > li > a, .pagination > li > span
  position initial !important

gumga-query
  > .input-group
    > .dropdown-menu
      width 100%!important

gumga-many-to-many .col-md-6:first-child
  padding-left 0px

gumga-many-to-many .col-md-6:last-child
  padding-right 0px

gumga-many-to-many .input-group-addon button
  border 0
  background-color #EEE

gumga-many-to-many .list-group
  max-height 200px
  overflow auto

gumga-many-to-many .list-group .list-group-item
  padding 7px 15px
  border-bottom none

gumga-many-to-many .list-group .list-group-item .badge
  background-color #81AEDA
  cursor pointer
  border 0

gumga-many-to-one .form-group .input-group-addon.full-view
  background-color transparent
  padding 3px 12px
  border-left 0

gumga-many-to-one .form-group .input-group-addon.authorize-add
  padding: 0 0.25%

gumga-many-to-one .form-group .input-group-addon button
  background-color transparent
  border 0

gumga-menu .active
  background #4ca089

gumga-menu .icon.white
  color #fff

gumga-menu .image-size-default
  width 20px
  height 20px

gumga-nav .navbar-logo
  float left

gumga-nav .organization
  color white
  font-size 1.4em
  margin-left 2%
  float left

gumga-nav img.avatar
  width 40px
  height 40px
  margin-right 10px

gumga-nav .status-navbar small
  font-size 85%

gumga-nav .status-navbar .glyphicon
  margin-left 1px

gumga-nav .glyphicon-search
  color #fff
  padding-top 1%
  margin-right 5%
  height 100%

gumga-nav .navbar-input
  background none repeat scroll 0 0 rgba(244, 214, 214, 0.15)
  border double
  font-size 14px
  outline 0
  color #fff
  height 100%
  margin 0
  border-color rgba(0, 0, 0, 0)
  z-index 2000

gumga-nav .btn-link
  display block
  width 100%
  color black
  font-size 0.9em

.change-password label.text-danger
  width: 100%

gumga-one-to-many .col-md-12
  padding-left 0
  padding-right 0

gumga-upload img,
gumga-upload svg
  object-fit: cover

gumga-table .table-btn
  margin-bottom 5px

gumga-table .table-btn button
  margin-right 5px

gumga-search .little-panel label
  display block

gumga-search gumga-advanced-label
  margin-right 5px

gumga-search .menu-save-query
  width auto

.gumga-filter .dropdown-menu > li > a
  cursor: pointer

.gumga-filter .panel-body .input-group-btn
  border 1px solid #ccc
  border-left-width 2px
  border-right-width 2px
  border-radius 4px

.gumga-filter .panel-body .input-group-btn .btn
  border-color: transparent
  border-radius: 4px
  border: 1px

.gumga-filter .panel-body .btn,
.gumga-filter .panel-body .input-group-btn .btn
  padding: 3px 6px

.gumga-filter-panel
  position: absolute
  top: 100%
  left: 0
  z-index: 1000
  display: none
  float: left
  min-width: 160px
  padding: 12px
  margin: 2px 0 0
  font-size: 14px
  text-align: left
  background-color: #fff
  border: 1px solid #ccc
  border: 1px solid rgba(0,0,0,.15)
  border-radius: 4px
  box-shadow: 0 6px 12px rgba(0,0,0,.175)
  background-clip: padding-box

.gumga-filter-panel .dropdown-menu li
  z-index: 3000
  position absolute
  top 100%
  left 0
  z-index 1000
  display none
  float left
  min-width 160px
  padding 12px
  margin 2px 0 0
  font-size 14px
  text-align left
  background-color #fff
  border 1px solid #ccc
  border 1px solid rgba(0,0,0,.15)
  border-radius 4px
  box-shadow 0 6px 12px rgba(0,0,0,.175)
  background-clip padding-box

gumga-filter .panel.heading
  padding 5px 10px

gumga-filter .form-inline.panel-body .input-group
   margin-right: 5px

gumga-filter .form-inline.panel-body .input-group-btn > button,
gumga-filter .form-inline.panel-body .input-group-btn > btn-group > button[uib-dropdown-toggle]
  z-index: 0

gumga-filter .form-inline.panel-body .input-group-btn > btn-group > ul[uib-dropdown-menu],
gumga-filter .form-inline.panel-body .input-group-btn > btn-group > ul[uib-dropdown-menu] > li
  z-index: 3000

gumga-query .row.replace-filter
  margin-top .5%

.gumga-documentation-info
  color #5bc0de
  font-size larger
  &:hover
    font-size large
    cursor pointer

gumga-list .items-per-page
  width 4%

gumga-list .tbody td
  white-space pre-wrap

gumga-tag-column .panel-body.body-column
  display inline-block

gumga-unity-tag .btn.close-popover
  margin-right 5%

gumga-unity-tag .bottom.fade.popover.in
  min-width 150%

gumga-unity-tag .label.unity-tag
  margin-top 2%
  margin-bottom 2%
  display inline-block

gumga-file-upload
  position relative
  display table
  width 100%

.drag
  display none
  padding 25px
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  z-index -40
  text-align center
  border 6px dashed #eaeaea

.drag .glyphicon
  color #19a14d
  font-size 36px

.dragHover
  display block
  background #f5f5f5
  z-index 40000
  opacity 0.7